<div class="container">
<div class="col-2 mt-5 mb-5 bg-primary text-center">
<h2>商品編集</h2>
</div>
</div>

<div class="container">
<div class="col-7 mx-auto">
    
<%= form_with model: @item, url: admin_item_path(@item.id), method: :patch do |f| %>

<div class="form-group row">
<label for ="item_image" class="col-3 col-form-label">商品画像</label>
<div class="col-9">
<%= f.file_field :image, class:"form-control-file", accept: "image/*" %>
</div>
</div>

<div class="form-group row">
<label for ="item_name" class="col-3 col-form-label">商品名</label>
<div class="col-9">
<%= f.text_field :name, class:"form-control" %>
</div>
</div>

<div class="form-group row">
<label for ="item-introduction" class="col-3 col-form-label">商品説明</label>
<div class="col-9">
<%= f.text_area :introduction,class:"form-control" %>
</div>
</div>

<div class="form-group row">
<label for ="item-genre" class="col-3 col-form-label">ジャンル</label>
<div class="col-9">
<%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "-- 選択して下さい --" %>
</div>
</div>

<div class="form-group row">
<label for ="item_name" class="col-3 col-form-label">税抜価格<br>※(,)無し</label>
<div class="col-7">
<%= f.text_field :price, class: "form-control"%>
</div>
<div class="col-2 align-items-center">円</div>
</div>

<div class="form-group row">
<label for ="is_active" class="col-3 col-form-label">販売ステータス</label>
<div class="col-9">
<%= f.radio_button :is_active, '1' %>
<%= f.label :is_active, '販売中', value: 1%>
<%= f.radio_button :is_active, '0' %>
<%= f.label :is_active, '販売停止中', value: 0 %>
</div>
</div>

<div class="form-group postion-center">
<%= f.submit '変更を保存',class:"btn btn-success" %>
</div>


<% end %>

</div>
</div>