<div class="container">
<div class="col-5 mt-5 mb-5 secondary text-center">
<h2><%= @customer.full_name %>さんの会員詳細</h2>
</div>
</div>

<div class="container">
<div class="col-7 mx-auto">
    
<%= form_with model: @customer, url: admin_customer_path(@customer.id), method: :patch do |f| %>

<div class="field row pb-2">
<label for ="customer_id" class="col-3">会員ID</label>
<div class="col-9">
<%= @customer.id %>
</div>
</div>

<div class="form-group row pb-2">
<label for ="customer_name"  class="col-3 col-form-label">氏名</label>
<div class="col-9 row ml-0">
<%= f.text_field :last_name, class:"form-control col-6" %><%= f.text_field :first_name, class:"form-control col-6" %>
</div>
</div>

<div class="form-group row pb-2">
<label for ="customer_name_kana" class="col-3 col-form-label">フリガナ</label>
<div class="col-9 row ml-0">
<%= f.text_field :last_name_kana, class:"form-control col-6" %><%= f.text_field :first_name_kana, class:"form-control col-6" %>
</div>
</div>

<div class="form-group row pb-2">
<label for ="customer_postal_code" class="col-3 col-form-label">郵便番号</label>
<div class="col-sm-auto">
<%= f.text_field :postal_code, class:"form-control" %>
</div>
</div>

<div class="form-group row pb-2">
<label for ="customer_name_kana" class="col-3 col-form-label">住所</label>
<div class="col-9">
<%= f.text_area :address, class:"form-control" %>
</div>
</div>

<div class="form-group row pb-2">
<label for ="customer_name_kana" class="col-3 col-form-label">電話番号</label>
<div class="col-sm-auto">
<%= f.text_field :telephone_number, class:"form-control" %>
</div>
</div>

<div class="form-group row pb-2">
<label for ="is_active" class="col-3 col-form-label">会員ステータス</label>
<div class="col-9">
<%= f.radio_button :is_deleted, 'false' %>
<%= f.label :is_deleted, '有効', value: false %>
<%= f.radio_button :is_deleted, 'true' %>
<%= f.label :is_deleted, '退会', value: true %>
</div>
</div>

<div class="form-froup row">
<div class="col-3 col-form-label"></div>
<div class="col-auto">
<%= f.submit '変更を保存',class:"btn btn-success" %>
</div>
<% end %>
</div>

</div>