<div class="container">
<div class="col-10 mt-5">
<h2>#{@customer.name}さんの会員詳細</h2>
</div>
</div>

<div class="form-group">
<label for ="customer_id">会員ID</label>
<%= @customer.id %>
</div>

<div class="form-group">
<label for ="customer_name">氏名</label>
<%= @customer.last_name %> <%= @customer.first_name %>
</div>

<div class="form-group">
<label for ="customer_name_kana">フリガナ</label>
<%= @customer.last_name_kana %> <%= @customer.first_name_kana %>
</div>

<div class="form-group">
<label for ="customer_postal_code">郵便番号</label>
<%= @customer.postal_code %>
</div>

<div class="form-group">
<label for ="customer_address">住所</label>
<%= @customer.address %>
</div>

<div class="form-group">
<label for ="customer_telephone_number">電話番号</label>
<%= @customer.telephone_number %>
</div>

<div class="form-group">
<label for ="customer_email">メールアドレス</label>
<%= @customer.email %>
</div>

<div class="form-group">
<label for ="customer_status">会員ステータス</label>
<%= @customer.is_active %>
</div>

<%= link_to "編集する", edit_admin_customer_path(@customer.id), class:"btn btn-success" %>
<%= link_to "注文履歴一覧を見る", admin_path, class:"btn btn-primary" %>

</div>