<div class="container">
<div class="col-3 mt-5 mb-5 secondary text-center">
<h2>注文履歴詳細</h2>
</div>
</div>

<div class="container">

<div class="filed row mb-1">
<label for ="customer_name" class="col-2"><h5><strong>購入者</strong></h5></label>
<div class="col-10">
<h5><%= @order.customer.full_name %></h5>
</div>
</div>

<div class="filed row mb-1">
<label for ="customer_name" class="col-2"><h5><strong>注文日</strong></h5></label>
<div class="col-10">
<h5><%= @order.created_at.strftime('%Y/%m/%d') %></h5>
</div>
</div>

<div class="filed row mb-1">
<label for ="customer_name" class="col-2"><h5><strong>配送先</strong></h5></label>
<div class="col-10">
<h5>〒<%= @order.postal_code %><%= @order.address %><br><%= @order.name%></h5>
</div>
</div>

<div class="filed row mb-1">
<label for ="customer_name" class="col-2"><h5><strong>支払方法</strong></h5></label>
<div class="col-10">
<h5><%= @order.payment_method_i18n %></h5>
</div>
</div>

<%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
<div class="form-group row">
<label for ="status" class="col-2"><h5><strong>注文ステータス</strong></h5></label>
<div class="ml-2 pl-2">
<%= f.select :status, Order.statuses_i18n.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]} %>
</div>
<div class="col-2">
<%= f.submit '更新',class:"btn btn-success btn-sm" %>
</div>
<% end %>
</div>

<div class="row">
<div class="col-8">
<table class="table">
    <thead class="thead-secondary">
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
        </tr>
    </thead>
    <tbody>
        <% @order.order_details.each do |order_detail| %>
        <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.price.to_s(:delimited) %></td>
            <td><%= form_with model: order_detail, url: admin_order_detail_path(order_detail.id), method: :patch do |f| %>
                <%= f.select :making_status, OrderDetail.making_statuses_i18n.keys.map{|k| [I18n.t("enums.order_detail.making_status.#{k}"), k]} %>
                <%= f.submit '更新',class:"btn btn-success btn-sm ml-2" %>
                <% end %></td>
        </tr>
        <% end %>
    </tbody>
</table>
</div>

<div class="col-4 d-flex align-items-end">
<table class="table table-bordered">
    <tr>
        <td>商品合計</td>
        <td><%= @order.total_payment.to_s(:delimited) %>円</td>
    </tr>
    <tr>
        <td>送料</td>
        <td><%= @order.shipping_cost %>円</td>
    </tr>
    <tr>
        <td>請求金額合計</td>
        <td><%= (@order.shipping_cost + @order.total_payment ).to_s(:delimited) %>円</td>
    </tr>
</table>
</div>
</div>

