<div class="container">
<div class="col-4 mt-5 mb-5 bg-primary text-center">
<h2>ジャンル一覧・追加</h2>
</div>
</div>


<%= form_with model: @genre, url: admin_genres_path, method: :post do |f| %>
 <div class="container">
 <div class="row mt-5">
  <label for="genre" class="col col-lg-2">ジャンル名</label>
  <div class="col-md-auto">
  <%= f.text_field :name %>
  </div>
  <div class="col col-lg-2">
  <%= f.submit '新規登録', class: 'btn btn-success' %>
  </div>
  </div>
<% end %>


　　　　<div class="row col-md-3">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>ジャンル</th>
                    <th></th>
                </tr>
            </thead>
            <% @genres.each do |genre| %>
            <tbody>
                <tr>
                  <td><%= genre.name %></td>
                  <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn btn-success" %></td>
                </tr>
            </tbody>
            <% end %>
        </table>
        </div>




</div>
</div>