<div class="container">
<div class="row col-10">
<div class="col-4 mt-5 secondary text-center">
<h2>ショッピングカート</h2>
</div>
<div class="col-8 mt-5 text-right">
<%= link_to "カートを空にする", public_cart_item_destroy_all_path(@cart_items), method: :delete, class: "btn btn-danger" %>
</div>
</div>
</div>



<div class="container">
<table class="table col-10 mx-auto mt-5 table-bordered">
    <thead class="thead-light">
        <tr><th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <% @cart_items.each do |cart_item| %>
        <tr><td><%= image_tag cart_item.item.image, size: "60x50" %><span class="pl-4"><%= cart_item.item.name %></span></td>
            <td class="align-middle" style="width:15%"><%= cart_item.item.add_tax_price.to_s(:delimited) %></td>
            <td class="align-middle" style="width:15%"><%= form_with model: cart_item, url: public_cart_item_path(cart_item.id), method: :patch do |f| %>
                <%= f.select :amount, options_for_select([1,2,3,4,5,6,7,8,9,10],{selected: cart_item.amount}), options = { include_blank: true } %>
                <%= f.submit '変更' ,class: 'btn btn-success btn-sm'%>
                <% end %>
            </td>
            <td class="align-middle" style="width:15%"><%= (cart_item.item.add_tax_price*cart_item.amount).to_s(:delimited)  %></td>
            <td class="align-middle" style="width:15%"><%= link_to "削除する", public_cart_item_path(cart_item.id), method: :delete, class: "btn btn-danger btn-sm" %></td>
        </tr>
        <% end %>
    </tbody>

</table> 

<div class="col-10 row mx-auto mt-5">
<div class="col-7">
<%= link_to "買い物を続ける", public_homes_top_path, class: "btn btn-primary" %>
</div>
<div class="col-5 d-flex justify-content-end">
    <table class="table table-bordered">
        <tr>
            <td>合計金額</td>
            <td><%= @total.round.to_s(:delimited) %></td>
        </tr>
    </table>
</div>

</div>


<div class="col-12 mt-5 d-flex justify-content-center">
<%= link_to "情報入力に進む", new_public_order_path, class: "btn btn-success" %>
</div>
