<div class="container">
<div class="col-4 mt-5 mb-5 secondary text-center">
<h2>注文履歴詳細</h2>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-7"><p>注文情報</p></div>
<div class="col-4"><p>請求情報</p></div>
</div>

<div class="row">
<div class="col-7">
<table class="table table-bordered"> 
    <tr>
        <td class="table-secondary">注文日</td>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
        <td class="table-secondary">配送先</td>
        <td>〒<%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></td>
    </tr>
    <tr>
        <td class="table-secondary">支払方法</td>
        <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
        <td class="table-secondary">ステータス</td>
        <td><%= @order.status_i18n %></td>
    </tr>
</table>
</div>
<div class="col-4">
<table class="table table-bordered">
    <tr>
        <td class="table-secondary">商品合計</td>
        <td><%= @order.total_payment.to_s(:delimited) %></td>
    </tr>
    <tr>
        <td class="table-secondary">配送料</td>
        <td><%= @order.shipping_cost %></td>
    </tr>
    <tr>
        <td class="table-secondary"><strong>ご請求額</strong></td>
        <td><strong><%= (@order.shipping_cost + @order.total_payment ).to_s(:delimited) %></strong></td>
    </tr>
</table>
</div>
</div>

<p>注文内容</p>

<table class="table table-bordered col-10">
    <thead class="thead-secondary">
        <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
        </tr>
    </thead>
    <tbody>
        <% @order.order_details.each do |order_detail| %>
        <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price.to_s(:delimited) %></td>
            <td><%= order_detail.amount %></td>
            <td><%= (order_detail.price*order_detail.amount).to_s(:delimited) %></td>
        </tr>
        <% end %>
    </tbody>
</table>

</div>